<footer>
  <div class="footer-info">
    <div class="colum1-footer">
      <img src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/logo_soltiec_transparente_blanco.png"
        alt="Logo SOLTIEC SAS">
        <div class="social-networks">
          <a href="https://www.facebook.com/profile.php?id=61555502158576"target="_blank"><img src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Logo_Facebook_Blanco.png" alt="Logo Facebook"></a>
          <a href="https://www.instagram.com/soltiecsas/"target="_blank"><img src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Logo_Instagram_Blanco.png" alt="Logo Instagra,"></a>
          <a href="https://www.linkedin.com/company/soltiec-sas"target="_blank"><img src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Logo_Linkedin_Blanco.png" alt="Logo LinkedIn"></a>
          <a href="https://api.whatsapp.com/send/?phone=573018928866"target="_blank"><img src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Logo_WhatsApp_Blanco.png" alt="Logo WhatsApp"></a>
      </div>
    </div>
    <div class="colum2-footer">
      <div class="column">
      <h1 id="services">SERVICIOS</h1>
      <div class="row-footer">
        <a routerLink="/tecnologia">TECNOLOGÍA</a>
      </div>
      <div class="row-footer">
       <a routerLink="/ingenieria">INGENIERÍA</a>
      </div>
      <div class="row-footer">
        <a routerLink="/energia">ENERGÍA</a>
      </div>
      <div class="row-footer">
        <a routerLink="/construccion">CONSTRUCCIÓN</a>
      </div>
</div>
    </div>
    <div class="colum3-footer">
      <div class="column">
      <h1 id="contact-information">CONTACTO</h1>
      <div class="row-footer"><img class="img-contact" src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Logo_Correo_Blanco.png" alt="Logo Correo"><span>info@soltiec.co</span></div>
      <div class="row-footer"><img class="img-contact" src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Logo_Telefono_Blanco.png" alt="Logo WhatsApp"><span>301 892 8866</span></div>
      <div class="row-footer"><img class="img-contact" src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Logo_Ubicacion_Blanco.png" alt="Logo WhatsApp"><span>Medellín, Antioquia</span></div>
    </div>
    </div>
  </div>
  <div class="copyright">
    <p id="copyright">© {{ currentYear }} Todos los Derechos Reservados | SOLTIEC S.A.S.</p>
  </div>
</footer>