footer {
  width: 100%;
  height: auto;
  background-color: #146582;
  margin-top: 20px;
}

.footer-info {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 40px 20px;
  align-items: start;
}

.footer-info h1 {
  font-size: 25px;
  text-align: left;
  color: #C0CBD8;
  margin-top: 25px;
}

.footer-info span {
  font-size: 20px;
  color: #FFFFFF;
  display: inline-block;
  white-space: nowrap; 
  vertical-align: middle; 
}

.footer-info a {
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
  color: #C0CBD8;
}

.colum1-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.colum1-footer img {
  max-width: 350px;
}

.social-networks {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
}

.social-networks img {
  width: 40px;
}

.colum2-footer,
.colum3-footer {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.column {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.img-contact {
  width: 30px;
  height: 30px;
  margin-right: 5%;
}

.row-footer {
  display: flex;
  margin: 5% 0;
}

.copyright {
  width: 100%;
  height: 50px;
  border-top: solid #C0CBD8;
}

.copyright p {
  width: 100%;
  height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center !important;
}


@media (max-width: 900px) {
  .footer-info {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 10px
  }

  .footer-info h1 {
    text-align: center;
  }

  .colum1-footer,
  .colum2-footer,
  .colum3-footer {
    width: 100%;
    align-items: center;
  }

  .row-footer{
    min-width: 250px;
  }

  .copyright {
    width: 100%;
    height: 100%;
  }

  .copyright p {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}