.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  background: #146582;
  border-bottom: 1px solid #C0CBD8;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  height: 50px;
}



.menu {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  color: #FFFFFF;
  justify-content: center;
  margin: auto 0;
}

.menu a {
  text-decoration: none; /* quita el subrayado */
  color: inherit;        /* usa el color del texto normal */
}

.menu a:visited {
  
  color: inherit;

}
.menu li {
  cursor: pointer;
  position: relative;
font-size: clamp(15px, 2.6vw, 17.5px);
}

.menu li:hover {
  text-decoration: underline;
  color: #C0CBD8;
}






.dropdown {
  position: relative;
}





.submenu {
  position: absolute;
  top: 100%;   /* se pega justo debajo del botón */
  left: 0;
  background: #146582;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  list-style: none;
  padding: 10px 0;
  min-width: 180px;
}


.submenu li {
  padding: 10px 20px;
  white-space: nowrap;
}

.submenu li:hover {
  text-decoration: underline;
  color: #C0CBD8;
}


.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: #146582;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .menu.open {
    display: flex;
  }

  .submenu {
    position: static;
    box-shadow: none;
  }

  .submenu {
    color: #FFFFFF;
    text-decoration: none;
  }

  .submenu li:hover {
    text-decoration: underline;
  }
}