<nav class="navbar">
    <a routerLink="/inicio">
        <div class="logo">
            <img src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/logo_soltiec_transparente_blanco.png"
                alt="Logo SOLTIEC SAS" />
        </div>
    </a>
    <div class="hamburger" (click)="toggleMenu()">☰</div>
    <ul class="menu" [class.open]="menuAbierto">
        <li><a routerLink="/inicio" (click)="menuAbierto = false">INICIO</a></li>
        <li><a routerLink="/nosotros" (click)="menuAbierto = false">NOSOTROS</a></li>
        <li class="dropdown" (mouseenter)="serviciosAbierto = true" (mouseleave)="serviciosAbierto = false">
            <span (click)="toggleServicios()">
                SERVICIOS ▾
            </span>
            <ul class="submenu" *ngIf="serviciosAbierto">
                <li>TECNOLOGÍA</li>
                <li>INGENIERÍA</li>
                <li>ENERGÍA</li>
                <li>CONSTRUCCIÓN</li>
            </ul>
        </li>
        <li><a routerLink="/proyectos" (click)="menuAbierto = false">PROYECTOS</a></li>
        <li>CONTACTO</li>
    </ul>
</nav>