.about {
    max-width: 1000px;
    display: block;
    margin: auto;
}
.about p {
    color: #000000;
    text-align: justify;
    line-height: 1.5;
}

.soltiec-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.soltiec-section h1 {
    grid-column: 1 / -1;
}

.about-card {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}
.about-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(-50px);
    width: 2px;
    height: 100%;
    background-color: #146582;
}

.about-card:last-child::after {
    display: none;
}

.about-card h2 {
    font-weight: bold;
    color: #146582;
}

.about-card p {
    text-align: justify;
    color: #000000;
    line-height: 1.5;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: clamp(20px, 4vw, 50px);
  margin: clamp(15px, 4vw, 30px) auto;
  max-width: 1270px;
  border-bottom: 2px solid #146582;
  padding-bottom: clamp(20px, 4vw, 40px);
}

.value-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.value-card img {
  width: clamp(120px, 18vw, 180px);
  height: clamp(120px, 18vw, 180px);
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  display: block;
  margin: auto;
  border: 4px solid #146582;
}

.value-card h3 {
  letter-spacing: 1px;
  margin-top: 5px;
  color: #146582;
  font-weight: bold;
}

.contador-accidentes {
    text-align: center;
    border-radius: 12px;
    display: block;
    margin: auto;

}
.contador-accidentes p{
    text-align: center;
}
.contador-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: clamp(18px, 4vw, 25px) clamp(30px, 8vw, 60px);
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.contador-box span {
    font-size: clamp(32px, 6vw, 48px);
    font-weight: bold;
    color: #146582;
    line-height: 1;
}

.contador-box small {
margin-top: clamp(15px, 3vw, 25px);
    color: #146582;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (max-width: 900px) {
    .soltiec-section {
        grid-template-columns: 1fr;
    }

    .about-card::after {
        display: none;
    }
}