<section class="main-section">
  <h1>PROYECTOS</h1>
  <div class="tabs">
    <button *ngFor="let tab of tabs" (click)="seleccionarTab(tab)" [class.active]="tab === tabActiva">
      {{ tab }}
    </button>
  </div>
  <div class="grid">
    <article class="card" *ngFor="let proyecto of proyectosFiltrados">
      <h2 class="titulo">{{ proyecto.titulo }}</h2>
      <img [src]="proyecto.imagen" alt={{proyecto.alt}}>
      <span class="ubicacion">{{ proyecto.ubicacion }}</span>
    </article>
  </div>
</section>
