.slider {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.slider img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 40s infinite;
    border: clamp(1px, 0.3vw, 4px) solid #146582;
}
.slider-content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.slider-content h1 {
  width: 100%;
  text-align: center;
  font-size: clamp(20px, 4vw, 40px);
  color: #146582;
border-top: clamp(1px, 0.3vw, 4px) solid #146582;
  border-bottom: clamp(1px, 0.3vw, 4px) solid #146582;
  background-color: #FFFFFF;
}




.slider img:nth-child(1) {
  animation-delay: 0s;
}

.slider img:nth-child(2) {
  animation-delay: 5s;
}

.slider img:nth-child(3) {
  animation-delay: 10s;
}

.slider img:nth-child(4) {
  animation-delay: 15s;
}

.slider img:nth-child(5) {
  animation-delay: 20s;
}

.slider img:nth-child(6) {
  animation-delay: 25s;
}

.slider img:nth-child(7) {
  animation-delay: 30s;
}

.slider img:nth-child(8) {
  animation-delay: 35s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  12.5% {
    opacity: 1;
  }


  17.5% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}