.slider-home {
  margin-top: 80px;
}

.slider {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

.slider img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 40s infinite;
  /*border: clamp(1px, 0.3vw, 4px) solid #146582;*/
}

.slider-content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.slider-content h1 {
  width: 100%;
  text-align: center;
  font-size: clamp(20px, 4vw, 40px);
  color: #146582;
  /*border-top: clamp(1px, 0.3vw, 4px) solid #146582;
  border-bottom: clamp(1px, 0.3vw, 4px) solid #146582;*/
  background-color: #FFFFFF;
}

.slider img:nth-child(1) {
  animation-delay: 0s;
}

.slider img:nth-child(2) {
  animation-delay: 5s;
}

.slider img:nth-child(3) {
  animation-delay: 10s;
}

.slider img:nth-child(4) {
  animation-delay: 15s;
}

.slider img:nth-child(5) {
  animation-delay: 20s;
}

.slider img:nth-child(6) {
  animation-delay: 25s;
}

.slider img:nth-child(7) {
  animation-delay: 30s;
}

.slider img:nth-child(8) {
  animation-delay: 35s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  12.5% {
    opacity: 1;
  }


  17.5% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.service-card {
  position: relative;
  height: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
}


.tech {
  background-image: url('https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Servicio_Tecnologia.png');
}

.eng {
  background-image: url('https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Servicio_Ingenieria.png');
}

.energy {
  background-image: url('https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Servicio_Energia.png');
}

.build {
  background-image: url('https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/Servicio_Construccion.png');
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 90, 110, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border: clamp(1px, 0.3vw, 1px) solid #C0CBD8;
}

.overlay h2 {
  font-size: 25px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.overlay p {
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 90%;
}

.btn {
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  padding: 10px 22px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  background: #FFFFFF;
  color: #005a6e;
}


@media (max-width: 900px) {
   .slider {
    height: 60vh;
   }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    height: 300px;
  }

  .service-card{
    margin: 1% 0%;
  }
  .overlay h2 {
    font-size: 20px;
  }


}