.slider-home {
  margin-top: 50px;
}

.slider {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

.slider img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 40s infinite;
  /*border: clamp(1px, 0.3vw, 4px) solid #146582;*/
}

.slider-content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.slider-content h1 {
  width: 100%;
  text-align: center;
  font-size: clamp(20px, 4vw, 40px);
  color: #146582;
  /*border-top: clamp(1px, 0.3vw, 4px) solid #146582;
  border-bottom: clamp(1px, 0.3vw, 4px) solid #146582;*/
  background-color: #FFFFFF;
}

.slider img:nth-child(1) {
  animation-delay: 0s;
}

.slider img:nth-child(2) {
  animation-delay: 5s;
}

.slider img:nth-child(3) {
  animation-delay: 10s;
}

.slider img:nth-child(4) {
  animation-delay: 15s;
}

.slider img:nth-child(5) {
  animation-delay: 20s;
}

.slider img:nth-child(6) {
  animation-delay: 25s;
}

.slider img:nth-child(7) {
  animation-delay: 30s;
}

.slider img:nth-child(8) {
  animation-delay: 35s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  12.5% {
    opacity: 1;
  }


  17.5% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.service-card {
  position: relative;
  height: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;


}

.tech {
  background-image: url('/assets/images/Servicio_Tecnologia.png');
}

.eng {
  background-image: url('/assets/images/Servicio_Ingenieria.png');
}

.energy {
  background-image: url('/assets/images/Servicio_Energia.png');
}

.build {
  background-image: url('/assets/images/Servicio_Construccion.png');
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(20, 101, 130, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  border: clamp(1px, 0.3vw, 1px) solid #C0CBD8;
}

.overlay h2 {
  font-size: clamp(19px, 3.2vw, 25px);
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: bold;
}

.overlay p {
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 90%;
}

.btn {
  color: #FFFFFF;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  padding: 10px 22px;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  background: #FFFFFF;
  color: #146582;
  font-weight: bold;
  border: #146582;
}

.carousel-inner {
  position: relative;
}

.carousel-item {

  inset: 0;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  pointer-events: none;
}

.carousel-item.active {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}

.carousel-item img {
  height: clamp(260px, 45vw, 480px);
  display: block;
  margin: auto;

}

.carousel-caption {
  position: absolute;
  left: 50%;
  bottom: clamp(12px, 3vw, 28px);
  transform: translateX(-50%);
  background: rgba(20, 101, 130, 0.8);
  backdrop-filter: blur(4px);
  color: white;
  padding: clamp(10px, 1.6vw, 18px) clamp(14px, 2vw, 26px);
  border-radius: 14px;
  min-width: 200px;
}

.carousel-caption p {
  color: #FFFFFF;
  text-align: center;
}

.btn-whatsapp {
  display: block;
  margin: 20px auto auto auto;
  padding: clamp(6px, 0.8vw, 10px) clamp(12px, 1.5vw, 20px);
  background-color: #146582;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: clamp(6px, 1vw, 14px);
  transition: 0.3s ease;
  max-width: 280px;
  text-align: center;
  border: solid 2px #146582;
}

.btn-whatsapp:hover {
  background-color: #FFFFFF;
  font-weight: bold;
  color: #146582;

}

@media (max-width: 900px) {
  .slider {
    height: 60vh;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    height: 350px;
  }

  .service-card {
    margin: 1% 0%;
  }


  .carousel-caption {
    bottom: 0;
    left: 0;
    right: auto;
    transform: none;
    border-radius: 0 14px 0 0;
  }

}