.contact-container {
    display: flex;
    margin: 10px auto;
    align-items: flex-start;
    max-width: 1280 px;
}

.contact-info {
    flex: 1;
    display: block;
    margin: auto;
}

.contact-info img {
    width: 80%;
    max-width: 350px;
    display: block;
    margin-bottom: clamp(10px, 1.5vw, 30px) !important;
    margin: auto;
}

.info-item {
    text-align: center;
    color: #146582;
}

.info-item a {
    text-align: center;
    color: #146582;
    text-decoration: none;
}

.btn-whatsapp {
    display: block;
    margin: auto;
padding: clamp(6px, 0.8vw, 10px) clamp(12px, 1.5vw, 20px);
    background-color: #146582;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: clamp(6px, 1vw, 14px);
    transition: 0.3s ease;
    max-width: 280px;
    text-align: center;
    border: solid 2px #146582;
}

.btn-whatsapp:hover {
    background-color: #FFFFFF;
    font-weight: bold;
    color: #146582;

}










.contact-form {
    flex: 1;
    display: block;
    margin: auto;
    width: 100%;
      box-shadow: 0 10px 30px rgba(0,0,0,0.05);
border-radius: clamp(10px, 1vw, 16px);


}
.contact-form h2{
color: #146582;
font-weight: bold;
margin: clamp(15px, 4vw, 30px) auto;
}


.contact-form ::placeholder{
    color: #146582;
}


form {
    display: block;
    margin: auto;
    
}

.form-group {
    margin-bottom: clamp(10px, 1.2vw, 25px);

}

.form-group input {
    font-size: clamp(15px, 1.2vw, 18px);
    line-height: 1.6;
    text-align: justify;
    background-color: #F0F8FF;
    max-height: 35px;

}

.form-control {
    padding: 10px;
    border-radius: 6px;
    border: solid 2px #146582;
    max-width: 400px;
    display: block;
    margin: auto;
}

textarea.form-control {
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #F0F8FF;
}

.btn-enviar {
    background-color: #146582;
    color: #FFFFFF;
padding: clamp(6px, 0.8vw, 10px) clamp(12px, 1.5vw, 20px);
    border: solid 2px #146582;
    border-radius: 6px;
    cursor: pointer;
    min-width: 160px;
    transition: 0.3s ease;
    display: block;
    margin: clamp(10px, 1.2vw, 25px) auto;
}

.btn-enviar:hover {
    background-color: #FFFFFF;
    color: #146582;
}







@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        
    }

    .btn-whatsapp {
        margin: clamp(15px, 4vw, 30px) auto;
    }

    .contact-form {
        max-width: 600px;
    }
    .contact-form h2{

                margin: clamp(15px, 4vw, 30px) auto;
}

}

