<section class="main-section">
    <h1>CONTACTO</h1>
    <div class="contact-container">
        <div class="contact-info">
            <img src="https://raw.githubusercontent.com/SOLTIEC-SAS/banco-imagenes/main/logo_soltiec_transparente.png"
                alt="Logo SOLTIEC SAS" />
            <p class="info-item">Medellín, Antioquia, Colombia</p>
            <p class="info-item"><a href="https://soltiec.co/" target="_blank">https://soltiec.co/</a></p>
            <p class="info-item"><a href="mailto:comercial@soltiec.co" target="_blank">comercial@soltiec.c/</a></p>
            <a href="https://wa.me/573018928866" target="_blank" class="btn-whatsapp">Enviar mensaje por WhatsApp</a>
        </div>
        <div class="contact-form">
            <h2>Inicia tu proyecto con nosotros</h2>
            <form #form="ngForm" (ngSubmit)="enviarFormulario(form)" novalidate>
                <div class="form-group">
                    <input type="text" name="nombre" ngModel required placeholder="Nombre *" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" ngModel required placeholder="Teléfono *" class="form-control">
                </div>
                <div class="form-group">
                    <input type="email" name="email" ngModel placeholder="Correo (opcional)" class="form-control">
                </div>
                <textarea name="mensaje" ngModel placeholder="Mensaje (opcional)" class="form-control" rows="3"
                    (input)="autoResize($event)"></textarea>

                <button type="submit" [disabled]="form.invalid || loading" class="btn-enviar">
                    {{ loading ? 'Enviando...' : 'Enviar mensaje' }}
                </button>
            </form>
            <div *ngIf="enviado" class="alert success">
                ✔ Mensaje enviado correctamente
            </div>
            <div *ngIf="error" class="alert error">
                ❌ Ocurrió un error al enviar el mensaje
            </div>
        </div>
    </div>
</section>