


section {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}


h1{
    color: #146582;
    font-size: 40px;
    text-align: center;
}




@media (max-width: 900px) {
    section {
        width: 100%;
    }
}