


section {
    width: 80%;
    display: block;
    margin: 5% auto;
}


h1{
    color: #146582;
    font-size: 40px;
    text-align: center;
}


@media (max-width: 900px) {
    section {
        width: 100%;
    }
}