section {
    width: 80%;
    display: block;
    margin: 5% auto;
}

h1 {
    color: #146582;
    font-size: clamp(26px, 5vw, 40px);
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: clamp(18px, 3vw, 25px);
    text-align: center;
}

p {
    font-size: clamp(20px, 1vw, 40px) !important;
}


@media (max-width: 900px) {
    section {
        width: 90%;
    }

    .main-section {
        margin-top: 80px;
    }
}